extends layout

<h1>{{title}}</h1>

<form method="post" enctype="multipart/form-data">
  <label for="firstName">First Name:</label>
  <input id="firstName" type="text" name="firstName" />

  <label for="lastName">First Name:</label>
  <input id="lastName" type="text" name="lastName" />

  <label for="repo">GitHub Repo:</label>
  <input id="repo" type="text" name="repo" />

  <label for="deployed">Deployed Link</label>
  <input id="deployed" type="text" name="deployed" />

  {{! <label for='doc-file'>Document</label>
    <input id='doc-file' type='file' name='file'> }}

  <input type="submit" value="Submit Form" />

</form>